
@{
    ViewBag.Title = "Bio";
}

<h2 align="center"><u>Bio</u></h2>
<table align="center">
    <tr>
        <td>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td>&nbsp;&nbsp; Kaniz Fatema Kanta</td>
    </tr>
    <tr>
        <td>Fathers name:</td>
        <td>&nbsp;&nbsp; Md. Abdul Karim</td>
    </tr>
    <tr>
        <td>Mothers name:</td>
        <td>&nbsp;&nbsp; Mrs. Jasmin Karim</td>
    </tr>
    <tr>
        <td>Date Of Birth &nbsp;:</td>
        <td>&nbsp;&nbsp; 22 February 2001</td>
    </tr>
    <tr>
        <td>Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td>&nbsp;&nbsp;Bonurupa Road, Chandona,<br>&nbsp;&nbsp; Chawrasta, Gazipur</td>
    </tr>
    <tr>
        <td>Phone number:</td>
        <td>&nbsp;&nbsp;01928710271</td>
    </tr>
    <tr>
        <td>Religion &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td>&nbsp;&nbsp;Islam</td>
    </tr>
    <tr>
        <td>Nationality &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td>&nbsp;&nbsp;Bangladeshi</td>
    </tr>
</table>
