
@{
    ViewBag.Title = "Education";
}

<h2 align="center"><u>Educational Qualification</u></h2>
<table class="table table-striped">
    <!--table-bordered-->
    <thead>
        <tr>
            <th>Institute</th>
            <th>Name</th>
            <th>Result</th>
            <th>Board/Division</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>American International University Bangladesh</td>
            <td>BSC</td>
            <td>3.94(running)</td>
            <td>Dhaka</td>
            <td>2019-2021</td>
        </tr>
        <tr>
            <td>Milestone College, Uttara</td>
            <td>HSC</td>
            <td>4.67</td>
            <td>Dhaka</td>
            <td>2016-2018</td>
        </tr>
        <tr>
            <td>Safiuddin Sarkar Academy And College, Tongi, Gazipur</td>
            <td>SSC</td>
            <td>5.00</td>
            <td>Dhaka</td>
            <td>2014-2016</td>
        </tr>
    </tbody>
</table>
