
@{
    ViewBag.Title = "Projects";
}

<h2 align="center"><u>Projects</u></h2>
<table class="table table-striped">
    <!--table-bordered-->
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Project Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Object Oriented Programming-1</td>
            <td>Banking System</td>
        </tr>
        <tr>
            <td>Object Oriented Programming-2</td>
            <td>Bank Management System</td>
        </tr>
        <tr>
            <td>Object Oriented Programming-2</td>
            <td>Photo Gallary</td>
        </tr>
        <tr>
            <td>Web Technology</td>
            <td>Hotel Management System</td>
        </tr>
    </tbody>
</table>
