
@{
    ViewBag.Title = "References";
}

<h2><u>References</u></h2>
<ol type="i">
    <li>Tanvir Ahmed</li>
    <ul type="disc">
        <li>Institute: American International University Bangladesh</li>
        <li>Designation: Professor</li>
        <li>Department: FST</li>
        <li>Mobile: 0129742555</li>
        <li>Email: tanvir.ahmed@aiub.edu</li>
    </ul>
    <li>Victor Stany Rozario</li>
    <ul type="disc">
        <li>Institute: American International University Bangladesh</li>
        <li>Designation: Professor</li>
        <li>Department: FST</li>
        <li>Mobile: 013985265852</li>
        <li>Email: stany@aiub.edu</li>
    </ul>
</ol>
